In [206]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib
import pandas as pd
import numpy as np
"""Get input"""
input_date = input("Input date: ")
date = str(input_date)
"""Load data """
df = pd.read_excel('/home/evzen/Downloads/HSC.xlsx')

"""Filter columns and fill NaN and drop 0's"""
df1 = df.iloc[:,[3,34, 4]].drop(0, axis=0).fillna(0)
df1 = df1[(df1 != 0).all(1)]

"""Filter by date"""
df1["Start date "] = df1["Start date "].astype(str)
df2 = df1[df1["Start date "].str.contains(date)]

"""Create list of names for the day"""
names_list =  df2.iloc[:,0]
names_list = names_list.unique()
daily_names_list = names_list.tolist()
"""Calculate AR for each name in list and store as array"""
daily_list = np.array([])
final_df = pd.DataFrame()

for x in daily_names_list:
    name = x 
    """Create df with name"""
    df3 = df2[df2["Annotator's name"] == name]
    """store df to a list"""
    final_df = final_df.append(df3)
    """calculate AR and appen to list"""
    soucet= df3["Annotation Ratio NET/1500fr [min]"].sum()
    pocet = df3.shape[0]
    vypocet = soucet / pocet
    daily_list = np.append(daily_list, vypocet)
    
"""Create dataframe from calculated arrays and calculate AR"""
daily_ar_df = pd.DataFrame(data = {"Name": daily_names_list, "Daily mean": daily_list})
daily_ar_total_sum = daily_ar_df["Daily mean"].sum()
daily_pocet = daily_ar_df.shape[0]
daily_mean = daily_ar_total_sum / daily_pocet

"""Print to screen"""
print("Daily AR mean: " ,  daily_mean)
print(daily_ar_df.describe())
daily_ar_sorted = daily_ar_df.sort_values("Name")
daily_ar_sorted = daily_ar_sorted.rename(columns={"Annotator's name":"Name"})


"""Create df for each name with all values"""
daily_sorted = final_df.sort_values("Annotator's name")
daily_sorted = daily_sorted.rename(columns={"Annotator's name":"Name"})

"""Merge dataframes"""
merge_day = daily_ar_sorted.merge(daily_sorted)

"""Export to csv and excel"""
daily_ar_sorted.to_csv('/home/evzen/Downloads/Daily-AR-report-HSC.csv')
daily_ar_sorted.to_csv('/home/evzen/Downloads/Daily-AR-report-HSC.xlsx')
merge_day.to_csv('/home/evzen/Downloads/Daily-AR-detail-report-HSC.csv')
merge_day.to_csv('/home/evzen/Downloads/Daily-AR-detail-report-HSC.xlsx')
"""Display df"""
daily_ar_sorted

Input date: 14
Daily AR mean:  173.34470065354165
       Daily mean
count   24.000000
mean   173.344701
std     79.943085
min     49.933422
25%    126.634734
50%    165.112541
75%    226.061010
max    397.855395

                      Name  Daily mean
15          Boháček Martin   49.933422
2            Friedová Jana  127.387860
6        Frühauf Jaroslav    98.037151
23       Gabrielová Tereza  199.866756
10             Jäger Marek   75.935062
11          Lazarová Aneta  190.872751
7              Lazna Karel  162.782956
16           Le Thien Long  397.855395
13          Majerník Radek  315.664267
20           Mitová Adéla   129.826898
0            Mládek Martin  106.648109
14       Panchártek Daniel  124.375356
9           Pekár Vladimír  144.806924
19          Petrášek Jakub  224.850100
4         Spálenková Adéla  230.041217
17      Steignerová Julie   129.554685
21            Sýkora Marek  229.693742
1   Tran Anh Hoang Patrik   184.876749
3                Vacek Jan  136.185497
18             Vajc Lukáš   249.667111
8              Vodák David  187.645434
22       Šrejber Jakub Jan  229.846769
5             Štrébl Pavel  167.442126
12        Šímová Štěpánka    66.476480

In [226]:
date = "19-06"
df1["Start date "] = df1["Start date "].astype(str)
df2 = df1[df1["Start date "].str.contains(date)]
monthly_names_list = df2["Annotator's name"].unique().tolist()

monthly_ar_list = np.array([])
monthly_df = pd.DataFrame()

for x in my_list2:
    name = x 
    """Create df with name"""
    df4 = df2[df2["Annotator's name"] == name]
    """store df to a list"""
    monthly_df = monthly_df.append(df4)
    """calculate AR and appen to list"""
    soucet= df4["Annotation Ratio NET/1500fr [min]"].sum()
    pocet = df4.shape[0]
    vypocet = soucet / pocet
    monthly_ar_list = np.append(monthly_ar_list, vypocet)

"""Create dataframe from calculated arrays and calculate AR"""
monthly_ar_df = pd.DataFrame(data = {"Name": monthly_names_list, "Monthly mean": monthly_ar_list})
monthly_ar_total_sum = monthly_ar_df["Monthly mean"].sum()
monthly_pocet = monthly_ar_df.shape[0]
monthly_mean = monthly_ar_total_sum / daily_pocet

"""Print to screen"""
print("Monthly AR mean: " ,  monthly_mean)
print(monthly_ar_df.describe())
monthly_ar_sorted = monthly_ar_df.sort_values("Name")    

monthly_df.sort_values("Annotator's name")
monthly_df_sorted = monthly_df.rename(columns={"Annotator's name":"Name"})

"""Merge dataframes"""
merge_month = monthly_ar_sorted.merge(monthly_df_sorted)
"""Export to csv and excel"""
monthly_ar_sorted.to_csv('/home/evzen/Downloads/Daily-AR-report-HSC.csv')
monthly_ar_sorted.to_csv('/home/evzen/Downloads/Daily-AR-report-HSC.xlsx')
merge_month.to_csv('/home/evzen/Downloads/Daily-AR-detail-report-HSC.csv')
merge_month.to_csv('/home/evzen/Downloads/Daily-AR-detail-report-HSC.xlsx')
"""Display df"""
monthly_ar_df

Monthly AR mean:  621.9200861192815
       Monthly mean
count     83.000000
mean     179.832314
std      483.811417
min       37.091387
25%       91.075095
50%      114.185647
75%      148.223546
max     4507.896492

                      Name  Monthly mean
0            Mládek Martin    120.776828
1   Tran Anh Hoang Patrik     157.247961
2            Novotná Adéla    108.311508
3        Gabrielová Tereza    129.002257
4            Friedová Jana    127.387860
5                Vacek Jan    136.185497
6         Spálenková Adéla    199.074340
7        Šrejber Jakub Jan     69.234375
8            Červenka Petr    134.247526
9           Marvánek Jakub    123.233437
10            Šplíchal Jan     75.241987
11            Štrébl Pavel    122.396022
12       Frühauf Jaroslav      74.815002
13             Lazna Karel    104.628283
14             Jäger Marek    109.418026
15            Krejčí Petr    4507.896492
16              Krpeš Adam     74.051135
17             Vodák David     85.781092
18       Panchártek Daniel     93.624681
19        Stádníková Lucie    287.377504
20          Pekár Vladimír     85.553770
21          Lazarová Aneta    121.103759
22         Čukanová Adéla      70.925649
23        Šímová Štěpánka     137.692732
24          Majerník Radek    182.306536
25                Pok Petr     96.446568
26          Boháček Martin     59.632462
27      Zušťáková Michaela    142.480216
28        Mikulica Vojtěch     83.248762
29            Sýkora Marek    104.259835
..                     ...           ...
53           Kučera Patrik    111.708925
54         Matoušek Lukáš      57.412906
55           Pokorný Tomáš    194.740346
56            Ptáček Evžen    209.827083
57          Horváth Marcel    113.589666
58           Šulcová Lucie     97.687618
59           Koňák Martin     132.725653
60       Kvapilová Kamila      77.476039
61       Vostřelová Zuzana     81.128711
62      Velenský František    189.443564
63           Jašurek Milan    104.122222
64           Horáček Radek    115.047480
65          Krinerová Sára     98.646894
66              Ungr Filip    193.669131
67             Kubiš Matěj    206.378272
68             Vondrák Jan     72.381679
69            Povolný Jan     224.126114
70          Rachapov Anuar     91.368311
71             Vykouk Adam     95.753974
72              Coufal Jan     84.804293
73        Nainarová Lucie     130.118283
74              Himmel Jan    137.709361
75           Ištvan Daniel    158.019654
76            Jelen Marcel    107.371351
77       Milichovský Filip    222.851432
78              Boček Jan      72.820343
79             Čundrle Jan    220.852765
80                 Ha Tuan    145.322602
81               Hrubý Jan    229.693742
82          Hausman Hynek     333.585477

[83 rows x 2 columns]